#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-shadow: 1px 4px 2px black;
}

#navbar {
  top: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
  border-radius: 0 0 20px 20px;
  /* position: fixed; */
  /* align-self: center; */
}

#navbar > a {
  color: white;
  text-decoration: none;
}

#advice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  border: 1px solid white;
  border-radius: 20px;
  padding: 16px;
  height: 150px;
  width: 550px;
  background-color: rgba(97, 68, 121, 0.979);
}

#advice-container > p {
  justify-self: flex-start;
  font-size: 20px;
}

#refresh-btn {
  margin-bottom: 20px;
  height: 30px;
  width: 175px;
  border: 1px solid gray;
  border-radius: 8px;
  transition: transform 250ms, box-shadow 250ms ease-in-out;
}

#refresh-btn:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 2px black;
}